.header_bar{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 40px;
    align-items: center;
    z-index: 200;
    position: fixed;
}
*{
    padding: 0;
    margin: 0;
}
.name{
    margin: 0;
    line-height: 0;
    font-weight: 800;
    font-size:23px;
}
.nav_link_list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav_link{
    margin: 1rem;
    font-weight: 600;
}
.nav_link a{
    text-decoration: none;
    color: #2d2e32
}


.mobile-nav{
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
}
.closed-menu {
    left: -100%!important;
}

.mobile-nav span {
    cursor: pointer;
    font-size: 2.3rem;
    position: absolute;
    right: 3rem;
    top: 1rem;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 2rem;
    list-style: none;
}

.mobile-nav ul a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width:768px) {
    .header_bar {
        padding: 15px 20px 15px 40px;
    }
    .nav_link {
        margin: 0.5rem;
    }
}

@media (max-width:768px) {
    .nav_link a {
        display: none;
    }
    .mobile-nav-div{
        display: block;
    }
    .name{
        font-size:20px;
    }
}
@media (min-width:768px) {
    .mobile-nav-div{
        display: none;
    }
}
.nav_link i{
    font-size: 21px;
}